.cards {
  --gf-card-height: 18rem;
  --gf-card-overlap: -6rem;

  display: flex;
  padding: var(--op-space-medium);
  overflow-x: auto;

  &.cards--books {
    --gf-card-height: 14rem;
  }

  > * {
    margin-right: var(--gf-card-overlap);

    &:last-child {
      margin-right: 0;
    }
  }

  .cards__card {
    height: var(--gf-card-height);
    box-shadow: var(--op-shadow-medium);
    position: relative;
    bottom: 0;
    transition: 0.1s;

    &:hover {
      bottom: var(--op-space-medium);
    }
  }
}
