.panel {
  display: grid;
  /* 60px */
  grid-template-rows: calc(var(--op-size-unit) * 15) 1fr;
  height: 100%;

  background-color: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);

  .panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--gf-header-height);
    box-shadow: inset var(--op-border-top) var(--op-color-border);
    padding: var(--op-space-2x-small) var(--op-space-medium);
    font-size: var(--op-font-large);
  }

  &.panel--feed {
    box-shadow: inset var(--op-border-right) var(--op-color-border);
  }

  &.panel--hand {
    box-shadow: inset var(--op-border-bottom) var(--op-color-border);
  }

  &.panel--books {
    box-shadow: inset var(--op-border-width) var(--op-border-width) 0 0 var(--op-color-border);
  }

  &.panel--highlight {
    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight);
  }

  &.panel--tray {
    background-color: var(--op-color-neutral-plus-eight);
    color: var(--op-color-neutral-on-plus-eight);
  }
}
