.panel {
  display: grid;
  /* 60px */
  grid-template-rows: calc(var(--op-size-unit) * 15) 1fr;
  height: 100%;

  .panel__header {
    display: flex;
    align-items: center;
    height: var(--gf-header-height);
    box-shadow: inset var(--op-border-top) var(--op-color-border);
    padding: var(--op-space-2x-small) var(--op-space-medium);
    font-size: var(--op-font-large);
  }

  .panel__content {

  }

  &.panel--feed {
    box-shadow: inset var(--op-border-right) var(--op-color-border);
  }

  &.panel--hand {
    box-shadow: inset var(--op-border-bottom) var(--op-color-border);
  }

  &.panel--books {
    box-shadow: inset var(--op-border-width) var(--op-border-width) 0 0 var(--op-color-border);
  }
}
